<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>NewAccountServlet</servlet-name>
        <servlet-class>servlet.NewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovementServlet</servlet-name>
        <servlet-class>servlet.MovementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IlegalServlet</servlet-name>
        <servlet-class>servlet.IlegalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewAccountServlet</servlet-name>
        <url-pattern>/NewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovementServlet</servlet-name>
        <url-pattern>/Movement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IlegalServlet</servlet-name>
        <url-pattern>/Ilegal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>newaccount.jsp</welcome-file>
    </welcome-file-list>
</web-app>
