body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
}

.error {
    color:crimson;
}

input[type=submit] {        
    max-width: 130px;
    background: #f1f1f1;
    border-radius: 3px;
    border: none;
    padding:10px;
    box-shadow: 0px 2px 2px rgba(0,0,0,.15);
}

input[type=text], input[type=password]{
    border: 2px solid #c1c1c1;
    padding: 5px;
    margin: 2px;
}


#end {
    background: url('../images/realizar.png');
    background-size: cover;
    width: 150px;
    height: 60px;
    border-radius: 6px;
    border: 2px solid #202020;
    transition: .25s;
    cursor: pointer;
    filter:grayscale(1);
}

#end:hover{
    box-shadow: 0px 2px 4px rgba(0,0,0,.15);
    transform: scale(1.06) translateY(-3px);
    filter:none;
}

.dish_category {
    text-decoration: none;   
    padding : 7px;
    margin: 5px;
    border-radius: 6px;
    color: dodgerblue;
    max-width: 175px;
    transition: .25s;
}

.dish_category:hover {
    margin-left: 10px;
}

select {
    padding : 7px;
    margin: 5px;
}

.result-box {
    padding: 15px;
    width: 100%;
    font-size: 18px;
    margin: 20px 0px;
    border-radius: 6px;
    background: #f1f1f1;
    max-width: 350px;
    transition: .25s;
}

.back {
    display: block;
    max-width: 150px;
    margin:  0 10px;
    color: dodgerblue;
}